
.screen {
	/*min-height: 100vh;*/
	height: 500px;
	background-color: #4f5e77;
	padding-top: 100px;
}

.strip {
	margin: 0!important;
	padding: 0!important;
}

.container {
	width: 95%
	overflow: hidden;
	background: #4f5e77;
	/*margin: 20px auto;
	padding: 20px 0px;*/
}



/*@media screen and (max-width: 1250px) {
	.container ul li {
		width: 40%;
		margin-left: 50px;
	}
}

@media screen and (max-width: 750px) {
	.container {
		width: 100%;
		padding: 0px;
	}

	.container ul li {
		float: none;
		width: 90%;
		margin: 40px auto;
	}
}
*/