.buttonCSS {
	padding-top: 10px;
	margin-top: 10px;
}

.checkoutBtn {
	padding-top: 20px;
}

.image {
	width: 100%;

}
.text {
	font-size: 1.0em;
	color: white;
	font-family: Arial;
}

.textPrice {
	padding-left: 30px;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.textTotal { 
	padding-left: 5px;
	font-size: 1.4em;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.shopCart {
	/* position: relative; */
	/* top: 300px; */
	/* right: 500px; */
	margin: auto;
	width: 350px;
	height: auto;


}

.cartImg {
	height: 15px;
	width: 15px;
}
.screen {
	min-height: 100vh;
	background-color: #4f5e77;
	padding-top: 100px;
}

.strip {
	margin: 0!important;
	padding: 0!important;
}

.container {
	width: 95%
	overflow: hidden;
	background: #4f5e77;
	/*margin: 20px auto;
	padding: 20px 0px;*/
}

.container ul {
	padding-top: 150px;
	margin: 0px;
}

.container ul li{
	list-style: none;
	float: left;
	width: 20%;
	height: 260px;
	background: #302f2f;
	margin: 40px 0px 0px 50px;
	box-sizing: border-box;
	border: 2px solid white;
}

.container ul li:hover{
	opacity: 0.9;

}

.container ul li .title:hover {
	background: #545b44;
	color: white;
	font-weight: bold;
}

.container ul li .title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #f4f5f7;
	text-align: center;
}

@media screen and (max-width: 1250px) {
	.container ul li {
		width: 40%;
		margin-left: 50px;
	}
}

@media screen and (max-width: 750px) {
	.container {
		width: 100%;
		padding: 0px;
	}

	.container ul li {
		float: none;
		width: 90%;
		margin: 40px auto;
	}
}
