
.screen {
	min-height: 100vh;
	background-color: black;
}

.strip {
	margin: 0!important;
	padding: 0!important;
}

.container {
	width: 95%
	overflow: hidden;
	background: black;
	/*margin: 20px auto;
	padding: 20px 0px;*/
}

.container ul {
	padding-top: 50px;
	margin: 0px;
}

.container ul li{
	list-style: none;
	float: left;
	width: 20%;
	height: 300px;
	background: red;
	margin: 40px 0px 0px 50px;
	box-sizing: border-box;
	border: 2px solid white;
}

.container ul li:hover{
	opacity: 0.9;
}

.container ul li .title:hover {
	background: #302f2f;
	color: white;
	font-weight: bold;
}

.container ul li .title {
	width: 100%
	height: 50px;
	line-height: 50px;
	background: white;
	text-align: center;
}

@media screen and (max-width: 1250px) {
	.container ul li {
		width: 40%;
		margin-left: 50px;
	}
}

@media screen and (max-width: 750px) {
	.container {
		width: 100%;
		padding: 0px;
	}

	.container ul li {
		float: none;
		width: 90%;
		margin: 40px auto;
	}
}