.top {
	text-align: right;
	width: 100%;
	height: 250px;
	background-position: 50% 50%;
	background-image: url('recon.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.assign{
	
	color: #ff9933;
	font-size: 1.5em;
}

.name {
	text-align: left;
	color: #ff9933;
	font-size: 2em;
}