.top {
	background-color: black;
	text-align: right;
	width: 100%;
	height: 80px;
	
}

.assign{
	padding-left: 20px;
	color: red;
	font-size: .8em;
}

.page {
	width: 500px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: left;
	color: red;
	font-size: 1.5em;
}


.body1 {

	background: #f29b10;
	
	background: radial-gradient(red 10%, #f29b10 30%, #1098f2 50%);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}
.body {
	background-image: url('ghostRecon.jpg');
	background-size: 100%;
	height: 100%
	background-repeat: no-repeat;

}