.top {
	text-align: right;
	width: 100%;
	height: 250px;
	
}

.assign{
	padding-left: 20px;
	color: #1098f2;
	font-size: .8em;
}

.name {
	width: 500px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: left;
	color: #1098f2;
	font-size: 1.5em;
}


.body1 {
	background: linear-gradient(to bottom right, red, yellow);
}
.body {
	background-image: url('ghostRecon.jpg');
	background-size: 100%;
	height: 100%
	background-repeat: no-repeat;

}