.top {
	background-color: #4c4842;
	text-align: right;
	width: 100%;
	height: 70px;
	
}

.assign{
	padding-left: 20px;
	color: white;
	font-size: .8em;
}

.page {
	width: 500px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: left;
	color: white;
	font-size: 1.5em;
}


.body1 {

	background: #f29b10;
	background: radial-gradient(#d34413 10%, #f29b10 30%, #4697e2 50%);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}
.body {
	background-image: url('ghostRecon.jpg');
	background-size: 100%;
	height: 100%
	background-repeat: no-repeat;

}