.top {
	text-align: right;
	width: 100%;
	height: 250px;
	background-position: 50% 50%;
	background-image: url('recon.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.assign{
	color: #ff9933;
	font-size: 1.2em;
}

.name {
	width: 300px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: left;
	color: #1098f2;
	font-size: 1.5em;
}